@tailwind base;
@tailwind components;
@tailwind utilities;

.customUnderline {
	display: inline-block;
}

.customUnderline::after {
	content: '';
	display: block;
	/* width: 0; */
	height: 2px;
	background: #524f4f;
	/* transition: width 0.3s; */
	animation-name: CustomUnderline;
	animation-duration: 0.5s;
}

@keyframes CustomUnderline {
	0% {
		width: 0;
	}
	100% {
		width: 100%;
	}
}

.toolTipAnimations {
	animation-name: toolTipAnimations;
	animation-duration: 2s;
	/* animation-iteration-count: infinite; */
}

@keyframes toolTipAnimations {
	0% {
		top: -50px;

		/* opacity: 0; */
	}
	100% {
		top: 10px;
	}
}
